<li class='card'>
  <span class="name"><%= user.name %></span>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  <% invite_links(user) %>
  </span>
</li>
