<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>

  <% unless current_user == user || user.friend?(user) %>
    <%= link_to "Invite to friendship", invite_friend_path(user), class: 'profile-link' %>
  <% end %>

  <% if current_user == user && current_user.friend_requests %>
    <%= link_to "Accept friendship", "#", class: 'profile-link' %>
  <% end %>
</li>
